@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #f1f3f6;

}


.container{
    padding: 0 8px;

}


header{
    background-color: #fff;
    height: 60px;
}
header .nav-container{
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 1248px;
    margin: 0 auto;
    
}
header .nav-container .logo{
    display: flex;
    min-width: 137px;
    justify-content: flex-end;
}
header .nav-container .logo img{
    width: 180px;
    
}
header .search{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 30px;

}
header .search .search-container{
    width: 540px;
    height: 36px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 /23%);
    display: flex;
}
header .search .search-container input{
    width: calc(100% - 32px);
    padding: 16px;
    outline: none;
    border: none;
    font-size: 17px;

}
header .search .search-container button{
    width: 36px;
    height: 100%;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    
    
    
}


header .login{
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0 20px;
} 
header .login button{
    width: 122px;
    padding: 5px 40px;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    border: none;

    
    
}
header .cart{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-weight: 400;

}
header .become-a-seller{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-weight: 400;
    width: 50%;
}
header .more{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-weight: 400;
}



.section-1{
    width: 100%;
    height: 122px;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 /16%);
    
}
.section-1-container{
    width: 1280px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: space-between;
    
    
}
.section-1-item{
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    flex-direction: column;
    

}
.section-1-item img{
    width: 70px;
    height: 70px;
    padding-left: 30px;
}



.section-2-container{
    margin-top: 16px;
    height: 280px;
    background-image: url(bannerimage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    
    
}



.section-3-container{
    margin-top: 8px;
    height: 122px;
    background-image: url(https://rukminim1.flixcart.com/fk-p-flap/2848/246/image/d56a3ed6d200038a.jpg?q=50);
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    
}



.section-4-container{
    margin-top: 8px;
    height: 362px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    

}
.section-4-offers{
    font-size: 30px;
    font-style: bolder;
}


.section-4-list{
    
    height: 100%;
    display: flex;
    overflow-x: auto;
}
.section-4-item{
    width: 200px;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
.section-4-item img{
    max-width: 200px;
    max-height: 200px;
}
.section-4-item-head{
    margin-top: 16px;
    font-size: 14px;
    font-weight: 400;

}
.section-4-item-price{
    margin-top: 12px;
    font-size: 16px;
    color: black;
    font-weight: 600;
}
.section-4-item img .image2{
    max-width: 200px;
    max-height: 200px;
}



.section-5-container{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;

}
.section-5-container img{
    width: 33%;
}



.footer{
    width: 100%;
    background:rgb(39, 38, 38) ;
    height: 400px;
    margin-top: 30px;

}
.footer .container{
    width: 90%;
    margin: 0 auto;
    padding: 50px 20px;

}
.footer-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-links .column{
    margin: 30px 12px;
}
.footer-links .column .column-links{
    list-style: none;
    margin-top: 16px;
}
.footer-links .column .column-links li{
    margin: 10px 0;


}
.footer-links .column .column-links li a{
    text-decoration: none;
    color:   grey;
    font-size: 16px;

}
.footer-links .column div{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
}
.column-links a i{
    padding: 6px;
    color: #8b9099;;
    background: rbg(0 0 0 0.00);
    border-radius: 50%;
    margin-bottom: 20px;
    font-size: 14px;
}

    



 